/*
  Font Family :
      for heading     => font-family: 'Patua One', cursive;
      for paragraph   => font-family: 'Montserrat', sans-serif;
 */

body
{
  padding:0;
  margin:0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f5f5f5;
  -o-background-color: #f5f5f5;
  -moz-background-color: #f5f5f5;
}

.width-80
{
  width: 80%;
}

.padding
{
  padding:20px 0px;
}

.width-106
{
  width: 106%;
}

.width-100
{
  width: 100%;
}

.c-0dbb6d{
  background-color: #0dbb6f;
}

.t-0dbb6d
{
  color: #0dbb6d;
}

main {
  flex: 1 0 auto;
}


.waves-effect input[type="submit"]
{
  font-size: 18px;
  font-family: 'Patua One', cursive;
}

.text-white
{
  color: #fff;
}

.margin-50
{
  margin: 50px 0px;
}

/*------------------
 ------------------- Navbar Pekula ------------------
 ------------------*/


.padding-40px
{
  padding:5px 40px;
}

.heigth-nav
{
  height: 80px;
}

.font-black
{
  color:#616161;
}

.patua-one
{
  font-family: 'Patua One', cursive;
}

.montserrat
{
  font-family: 'Montserrat', sans-serif;
}

.green-pekula
{
  color: #0dbb6d;
}

/*------------------
 ------------------- Banner Pekula ------------------
 ------------------*/

 .blur-banner
 {
   filter: blur(4px);
 }

.search-home
{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -420px;
  z-index: 3;
}

.search-home > h3
{
  color: #fff;
}

.search-home > p
{
  color: #fff;
  font-size: 20px;
  margin-bottom: 50px;
}

.center-50
{
  width: 50%;
  margin: 20px auto;
}

/* .border-50
{
  padding: 10px;
  background: rgba(0,0,0,0.4);
  border-radius: 50px;
  padding-top:16px;
  padding-right: 18px;
  padding-left: 15px;
} */

.search-home-input
{
  color: #616161;
}

.search-home-input:-webkit-input-placeholder
{
  color: #616161;
}

.search-home-input:-moz-input-placeholder
{
  color: #616161;
}

.search-home-input:-ms-input-placeholder
{
  color: #616161;
}


/*------------------
 ------------------- Content Pekula ------------------
 ------------------*/


.center-text
{
  text-align: center;
}

.cards
{
  margin-top: 40px;
}

.border-bottom
{
  border-bottom: 5px solid #6dbb6d;
  margin-top: 20px;
  border-radius: 0.5px;
  width: 100px;
}

.border-bottom-cnt
{
  border-bottom: 5px solid #6dbb6d;
  margin: 20px auto;
  border-radius: 0.5px;
  width: 100px;
}

.card-title > a
{
  color: #424242;
}

.font-p
{
  font-size: 19px;
}

.center-btn
{
  width: 155px;
  margin:0 auto;
}

.center-pgn
{
  width: auto;
  margin:0 auto;
  text-align: center;
}

/*------------------
 ------------------- Footer Pekula ------------------
 ------------------*/

.gradient-footer
{
  background: linear-gradient(to bottom, #414141 0%, #616161 100%);
}

/*------------------
 ------------------- Login Modals Pekula ------------------
 ------------------*/

.label
{
  text-align: left;
  font-size: 20px;
  color: #616161;
}

.input-22
{
  margin-top: 5px;
  border-radius: none;
  border:2px solid #0dbb6d;
}



/*------------------
 ------------------- registers Modals Pekula ------------------
 ------------------*/


.reg-center
{
  width: 31%;
  margin:60px auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.footer-registers
{
  margin-top:50px;
  font-size: 13px;
  color:#cfcfcf;
}

/*------------------
 ------------------- banner restaurant Pekula ------------------
 ------------------*/


.banner-name-restro
{
  background-repeat: repeat;
  background-size:230px;
  height: 287px;
  width: 100%;
}

.gradient-0dbb6d
{
  background: linear-gradient(to left, rgba(95, 191, 148, 0.87) 0%, rgb(13, 187, 111,0.9) 100%);
  height: 100%;
  width: 100%;
}

.center-banner-name
{
  padding:90px 0px;
  color: #fff;
}

.sectionrestaurant-banner
{
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.back-gradient
{
  width: 100%;
  height: 400px;
  background:linear-gradient(to right, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 100%);
}

.margin-center
{
  margin:0 auto;
  padding: 9% 0px;
}

.title-resto
{
  font-size: 50px;
}


/*------------------
 ------------------- content view restaurant Pekula ------------------
 ------------------*/


.menu
{
    font-size: 30px;
    font-style: bold;
}



/*------------------
 ------------------- banner user Pekula ------------------
 ------------------*/


.container-banner
{
  width: 50%;
  margin: 0 auto;
}


/*------------------
 ------------------- content user Pekula ------------------
 ------------------*/

.menu-user > ul > a
{
  color: #616161;
  font-size: 17px;
  font-style: bold;
}

.menu-user > ul > a > li
{
      width: 100%;
      background-color: #fff;
      padding:20px;
      margin: 1px 0px;
      box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.1);
      transition: all 0.2s;
}


.menu-user > ul > a > li:hover
{
  background-color: #0dbb6d;
  color: #fff;
}

.infodata
{
  width: 100%;
  margin-top: 25px;
  background-color: #fff;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.1);
}
